.taskForm form {
    width : 100%;
}

.taskForm button {
    padding-top : 5px;
    padding-bottom : 5px;
    margin-bottom : 4px;
    width : 150px;
    margin : auto;
    margin-top : 10px;
    display : block;

}

.taskForm div {
    max-width : 500px;
    display : block;
    color : #000000; 
    margin : auto;
    margin-bottom : 15px;
}

@media (max-width : 617px){
    .taskForm button {
        margin-top : 10px;
    }
}

@media (max-width : 999px){
    .taskForm button {
        margin: auto;
        display : block;
    }
}
@media (max-width : 700px){
    .taskForm div {
        max-width : 275px;
    }
}

@media (min-width : 1000px){
    .taskForm div {
        max-width : 300px;
    }
}


