.taskForm form {
    width : 100%;
}

.taskForm button, .sortOptions button{
    padding-top : 5px;
    padding-bottom : 5px;
    margin-bottom : 4px;
}

.taskForm button {
    width : 150px;
    margin-left : 120px;
    margin-top : 10px;

}

.taskForm div {
    width : 300px;
    display : block;
    color : #FFFFFF; 
    margin : auto;
    margin-bottom : 15px;
}

.sortOptions {
    width : 100%;
    height : 50px;
    background-color : #dbe9ff;
    margin-top : 10px;
    padding-top : 10px;
    background-color : #292929;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
}

.sortOptions button {
    margin-left : 10px;
    margin-top : 5px;
}

@media (max-width : 617px){
    .taskForm button {
        margin-top : 10px;
    }
}

@media (max-width : 999px){
    #taskHeader {
        display : block!important;
        margin : auto;
    }
}